Support for tx-enabled or not? 

Is this used on a node level for troubleshooting only, or is it needed also in the topology model

The meeting agrees that the need to disable the transmitter is only related to trouble-shooting (mainly on site).
Close of issue pending input from other uW WG-members.

I suggest that we rely on the te-topology leaf "tet:te-link-attributes/tet:admin-status" for enabling/disabling a carrier, e.g. in an energy-efficiency use-case, instead of adding the tx-enabled leaf.
Then it is up to the controller implementation if this should be translated into turning off the transmitter only or if both transmitter and receiver should be turned off.

In order to support the energy efficiency use case, I am wondering whether the MW topology model should provide the management of the operational modes as defined in section 3.2 of [RFC 8432](https://datatracker.ietf.org/doc/html/rfc8432) rather than the management of each specific MW interface attributes

The controller can properly set the MW interface attributes based on the configured operational mode

I suppose that the use of operational modes as suggested above assumes that there is a standardized definition of those modes, which I don't think is the case.

Open up a separate issue related operation modes. If included/supported, then it makes the requirement to include detailed configuration parameters superfluous.